@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";

@theme{
    --bg-color-light: #e0e0e0;
    --bg-color-dark: #2e2e2e;
    --text-color-light: #000000;
    --text-color-dark: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --light-color: rgba(255, 255, 255, 0.8);
    --shadow-color-dark: rgba(0, 0, 0, 0.6);
    --light-color-dark: rgba(255, 255, 255, 0.05);
    --color-copy: #9ffcb6;
    --color-copy-dark: #024a13;
    --color-delete: #ffadb3;
    --color-delete-dark: #4a0207;
}


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    outline: none;
    list-style-type: none;
    box-sizing: border-box;
    color: black;
}