@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";

@theme{
    --bg-color-light: #e0e0e0;
    --bg-color-dark: #1f1f1f;
    --text-color-light: #000000;
    --text-color-dark: #ffffff;
}


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    outline: none;
    list-style-type: none;
    box-sizing: border-box;
    color: black;
}